
/*------------------------------------------------------------*/
/*------------------- Mobile Style --------------------------*/
@media (max-width : 720px) {
#canvas {
    margin-left: 25%;
    border-style: solid;
}
#score {
    padding-top: 1%;
    margin-left: 35%;
    background-color: rgb(42, 38, 38);
    border-radius: 20px;
    width: 35vw;
    height: 20vh;
}

body {
    height: 100vh;
    background-color: white;
}

.info_box {
    font-size: 1vh;
    float: right;
    width: 40%;
    height: 15%;
    text-align: center;
    margin-right: 10%;
}

p {
    margin-left: 10%;
    color: rgb(255, 255, 255);
    font-size: 1vh;
}
}
/*------------------------------------------------------------*/
/*------------------- Desktop Style --------------------------*/
@media (min-width : 720px) {
#canvas {
    margin-left: 25%;
    border-style: solid;
}
#score {
    float: right;
    padding-top: 1%;
    margin-right: 32%;
    background-color: rgb(42, 38, 38);
    border-radius: 20px;
    width: 35vw;
    height: 20vh;
}

body {
    height: 100vh;
    background-color: white;
}

.info_box {
    font-size: 3vh;
    float: right;
    width: 20%;
    height:30%;
    text-align: center;
    margin-right: 10%;
}

p {
    margin-left: 10%;
    color: rgb(255, 255, 255);
    font-size: 3vh;
}
}